/* Main navbar */
.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 0 0 rgba(0, 0, 0, 0.03);
  background: white;
  transition: all 0.3s ease;
  height: 70px;
  top: 0px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}


/* Logo */
.navbar-wagon-brand img {
  height: 50px;
}

/* User Avatar */
.navbar-wagon .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-wagon-link {
  color: #616668;
  font-size: 14px;
}

.navbar-wagon-link:hover {
  color: #da552f;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}

.navbar-wagon-dropdown-menu li>a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}

.navbar-wagon-dropdown-menu li>a:hover {
  background: transparent !important;
  color: black !important;
}

.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}


/* Body */
.deal-body {
  padding-top: 80px;
  width: 100vw;
  background: #F0F0F0;
}

.left-half {
  float: left;
  width: 50%;
  margin-left: -20%;
}

.right-half {
  border-color: #b6701e;
  float: left;
  width: 50%;
  height: 100vh;
}

.ticket-container {}

.plane-ticket {
  width: 100%;
  height: 220px;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  list-style-type: none;
  margin-top: 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  padding-right: 10px;
  position: relative;
  display: flex;
  text-align: center;

  .price {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .detail-button {
      padding: 8px 30px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 30px 20px;
      cursor: pointer;
      color: #1A6FA8;
      border: 2px solid #1A6FA8;
      background-color: transparent;
      transition-duration: 0.4s;
    }

    .detail-button:hover {
      background-color: #1A6FA8;
      color: white;
      border: 2px solid #1A6FA8;
      box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }
  }

  .destination-time {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 40px;



    .depart-return-carrier {
      display: flex;
      align-content: center;

      h3 {
        font-size: 25px;
        font-weight: bold;
      }
    }
  }

}

.line {
  position: absolute;
  z-index: 4;
  top: 0;
  bottom: 0;
  left: 70%;
  border-left: 1.5px dashed #C0C0C0;
}

.line:before,
.line:after {
  content: "";
  width: 15px;
  height: 15px;
  background: #F0F0F0;
  border-radius: 20px;
  position: absolute;
  top: -5px;
  z-index: 5;
  left: -7.6px;
}

.line:after {
  top: 96%;
}




// banner

.banner {
  color: rgb(244, 244, 244);
  height: 45vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 0px;
  background-position: center;
}

.banner h1 {
  font-size: 140px;
  margin-bottom: -30px;
  margin-top: 0;
}

.banner p {
  font-size: 25px;
  margin-bottom: 0;
}

// end of banner


// plane ticket
.flight-container {
  display: flex;
  justify-content: space-between;

  .in-outbound {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 10px;

    .arrow-duration {
      display: flex;
      flex-direction: column;

      .duration {
        color: rgba(0, 0, 0, 0.3);
      }
    }

    .date-time-pair {
      display: flex;
      flex-direction: column;
      margin-left: 20px;
      margin-right: 20px;

      .airport {
        color: rgba(0, 0, 0, 0.3);
      }
    }

  }
}

// itinerary and graph

.itinerary {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 0 25px;
  margin-top: 35px;

  .duration {
    align-self: center;
  }

  .origin-destination {
    margin: 25px;
    display: flex;
    flex-direction: column;

    .city-name {
      align-self: center;
      font-size: 25px;
      font-weight: bold;
    }
  }
}

.graph-container {
  padding: 20px;
}

.wide-container {
  padding: 20px 60px 0px 100px;
}

.flight-block {
  width: 150px;
}

//
