.slick-element {
  background-color: #fff;
  width:600px;
  margin:20px auto;
  text-align: center;
  padding:20px;
  color:white;
}

.promotion {
  width: 450px;
  height: 100px;
  margin: 24px 0;
  padding: 16px;
}

.fullscreen {
  // background-image: url("https://images.pexels.com/photos/351774/pexels-photo-351774.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  height: 100vh;
  width: 100vw;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}

.right {
  display: flex;
  justify-content: space-between;
}

.button {
  padding: 8px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 20px;
  cursor: pointer;
  color: white;
  border: 2px solid white;
  background-color: transparent;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #3034AC;
  color: white;
  border: 2px solid #3034AC;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.title {
  margin-top: 20vh;
}

.title h1 {
  font-size: 100px;
  color: white;
  font-weight: 110;
}



