<!-- <div class="black"></div> -->

<div class="fullscreen" style="background-image: url(<%=asset_path 'background6.jpg'%>)"></div>

<div class="fullscreen-content">



  <section style="position:relative">
    <div class="title" style="position:absolute">
      <%= image_tag "logowhite.png", alt: "skanfare", width: "550px", height: "150px" %>
      <h5>Book Flights At The Right Time</h5>

      <%= link_to deals_path, method: :get do %>
      <button class="home-button">See Deals</button>
      <% end %>
    </div>
