<div class="fullscreen">
  <div class="right">
    <%= image_tag "logo.png", alt: "skanfare", width: "150px", height: "35px" %>
    <button class="button">See All Deals</button>
  </div>

 <div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-2">
      <div class="title">
        <h1>Skanfare</h1>
      </div>
    </div>
  </div>

  <section class="card">

    <div class="siema">
      <div class="promotion purple">
        Hi, I'm slide 1
      </div>
      <div class="promotion orange">
        Hi, I'm slide 2
      </div>
      <div class="promotion pink">
        Hi, I'm slide 3
      </div>
      <div class="promotion blue">
        Hi, I'm slide 4
      </div>
    </div>

    <button class="prev">prev</button>
    <button class="next">next</button>

  </section>

    <%# @quotes.each_with_index do |quote, index| %>
<!--   <ul>
    <li> -->
      <%#= quote["MinPrice"] %>
 <!--    </li>
    <li> -->
      <%#= quote["Direct"] %>
<!--     </li>
    <li> -->
      <%#= quote["OutboundLeg"]["DepartureDate"] %>
<!--     </li>
  </ul> -->
  <%# end %>

  </div>
</div>
