<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <%= area_chart @chart_array %>
    </div>
    <div class="col-xs-12 col-sm-4">
     <%= area_chart @chart_array %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= area_chart @chart_array %>
    </div>
  </div>
</div>

