<div class="minibanner">
  <h3>Skanfare</h3>
</div>
<!-- NAVBAR -->
<div class="navbar-wagon">
  <!-- Logo -->
  <!-- <a href="/" class="navbar-wagon-brand">
    <img src="images/logo.png" alt="logo">
  </a> -->
  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <!-- <a href="" class="navbar-wagon-item navbar-wagon-link">Host</a>
<a href="" class="navbar-wagon-item navbar-wagon-link">Trips</a>
<a href="" class="navbar-wagon-item navbar-wagon-link">Messages</a> -->
    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <!--  <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown"> -->
        <p id="navbar-wagon-menu" data-toggle="dropdown"> Duration</p>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">2 days</a></li>
          <li><a href="#">3-4 days</a></li>
          <li><a href="#">1 week</a></li>
          <li><a href="#">1-2 weeks</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Host</a></li>
        <li><a href="#">Trips</a></li>
        <li><a href="#">Messagese</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- END NAVABAR -->
<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
  <div class="card-description">
    <h2>Bangkok</h2>
  </div>
  <a class="card-link" href="#" ></a>
</div>
<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
  <div class="card-description">
    <h2>Bangkok</h2>
  </div>
  <a class="card-link" href="#" ></a>
</div>
<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
  <div class="card-description">
    <h2>Bangkok</h2>
  </div>
  <a class="card-link" href="#" ></a>
</div>
<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
  <div class="card-description">
    <h2>Bangkok</h2>
  </div>
  <a class="card-link" href="#" ></a>
</div>
<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
  <div class="card-description">
    <h2>Bangkok</h2>
  </div>
  <a class="card-link" href="#" ></a>
</div>
