<div class="minibanner">
  <h3>Skanfare</h3>
</div>
<!-- NAVBAR -->


<div class="menu">
  <div class="dropdown">
    <p class="menu-button" data-toggle="dropdown"> Duration</p>
    <ul class="dropdown-menu dropdown-menu-left navbar-wagon-dropdown-menu">
      <li><a href="#">2 days</a></li>
      <li><a href="#">3-4 days</a></li>
      <li><a href="#">1 week</a></li>
      <li><a href="#">1-2 weeks</a></li>
    </ul>
  </div>
  <div class="dropdown">
    <p class="menu-button" data-toggle="dropdown"> Days</p>
    <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
      <li><a href="#">WE</a></li>
      <li><a href="#">Mon-Tues</a></li>
      <li><a href="#">Wed-Thurs</a></li>
      <li><a href="#">Thurs-Fri</a></li>
    </ul>
  </div>
</div>
<!-- END NAVABAR -->


<div>
<% @best_city_deals_list.each do |deal| %>

<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
  <div class="card-description">
    <h2><%= deal[0] %></h2>
    <h2><%= deal[1] %></h2>

  </div>
  <%= link_to "", deals_path(name: deal[0]) , class: 'card-link' %>


</div>
<% end %>
</div>

