<!-- <div class="card-deal" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');"> -->
<div class="card-deal">
  <p id="initial-price">200$</p>
  <p id="new-price">150$</p>
  <p id="discount">-25%</p>
  <div class="card-deal-description">
    <p>Thai Airways</p>
    <h3>April 27th - May 8th, 2019</h3>
  </div>
  <a class="card-deal-link" href="#" ></a>
</div>
<div class="card-deal">
  <p id="initial-price">200$</p>
  <p id="new-price">150$</p>
  <p id="discount">-25%</p>
  <div class="card-deal-description">
    <p>Thai Airways</p>
    <h3>April 27th - May 8th, 2019</h3>
  </div>
  <a class="card-deal-link" href="#" ></a>
</div>
<div class="card-deal">
  <p id="initial-price">200$</p>
  <p id="new-price">150$</p>
  <p id="discount">-25%</p>
  <div class="card-deal-description">
    <p>Thai Airways</p>
    <h3>April 27th - May 8th, 2019</h3>
  </div>
  <a class="card-deal-link" href="#" ></a>
</div>
<div class="card-deal">
  <p id="initial-price">200$</p>
  <p id="new-price">150$</p>
  <p id="discount">-25%</p>
  <div class="card-deal-description">
    <p>Thai Airways</p>
    <h3>April 27th - May 8th, 2019</h3>
  </div>
  <a class="card-deal-link" href="#" ></a>
</div>
<div class="card-deal">
  <p id="initial-price">200$</p>
  <p id="new-price">150$</p>
  <p id="discount">-25%</p>
  <div class="card-deal-description">
    <p>Thai Airways</p>
    <h3>April 27th - May 8th, 2019</h3>
  </div>
  <a class="card-deal-link" href="#" ></a>
</div>
<div class="card-deal">
  <p id="initial-price">200$</p>
  <p id="new-price">150$</p>
  <p id="discount">-25%</p>
  <div class="card-deal-description">
    <p>Thai Airways</p>
    <h3>April 27th - May 8th, 2019</h3>
  </div>
  <a class="card-deal-link" href="#" ></a>
</div>
<div class="card-deal">
  <p id="initial-price">200$</p>
  <p id="new-price">150$</p>
  <p id="discount">-25%</p>
  <div class="card-deal-description">
    <p>Thai Airways</p>
    <h3>April 27th - May 8th, 2019</h3>
  </div>
  <a class="card-deal-link" href="#" ></a>
</div>
<div class="card-deal">
  <p id="initial-price">200$</p>
  <p id="new-price">150$</p>
  <p id="discount">-25%</p>
  <div class="card-deal-description">
    <p>Thai Airways</p>
    <h3>April 27th - May 8th, 2019</h3>
  </div>
  <a class="card-deal-link" href="#" ></a>
</div>
<div class="card-deal">
  <p id="initial-price">200$</p>
  <p id="new-price">150$</p>
  <p id="discount">-25%</p>
  <div class="card-deal-description">
    <p>Thai Airways</p>
    <h3>April 27th - May 8th, 2019</h3>
  </div>
  <a class="card-deal-link" href="#" ></a>
</div>