
<div class="graph-card">
  <div class="graph-title">
    Historical Price of This Flight
  </div>


  <div id="graph">
  <%= area_chart [data: @deal_chart.get_historical],legend: false, thousands: ",", points: false  %>
  </div>
</div>
