
<!-- <div class="selected-city-image-container">
  <h1></h1>
</div> -->



  <div>

    <% if params[:chart_id].nil? %>
      <div class="card" style="background-image: url(<%= asset_path "#{@city}.jpg" %>;"></div>

    <%else%>
      <%= area_chart @deal_chart.get_historical %>
   <%end%>
  </div>

