
// var chart = Chartkick.charts["chart-1"];
// chart.updateData(<%= raw @data %>);
// var title = document.getElementById("chart-title");
// title.innerHTML = '<%= raw "<p>#{@deal.depart_date.strftime('%d %b %y')} - #{@deal.return_date.strftime('%d %b %y')} | #{City.find_by(code: @deal.origin).name} to #{@deal.city.name}</p><p>Latest Price ¥#{number_with_delimiter(@deal.price, delimiter: ',')}</p>" %>'


// var oldSelected = document.querySelector(".selected_deal");
// if (oldSelected) {
//    oldSelected.classList.remove('selected_deal');
// }

// var selected = document.getElementById("<%= @deal.id %>");
// selected.classList.add('selected_deal');
