<div class="container">
  <h3>Skanfare</h3>
  <div class="row">
    <div class="col-sm-4">
      <div class="scrolling-third" ids="cities-table">
        <%= render "deals/cities" %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="scrolling-third" ids="flight-table">
        <%= render "deals/deals" %>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="picture-table">
        <%= render "deals/picture" %>
      </div>
    </div>
  </div>
</div>