#depart_dow {
 height: 40px;
  width: 100px;
  background-color:#0062AC;
  color:white;
  justify-content: center;
}

#duration{
  height: 40px;
  width: 100px;
 background-color:#0062AC;
  color:white;
  justify-content: center;
}
