#depart_dow {
  height: 40px;
  width: 100px;
  color: #0062AC;
  justify-content: center;
  margin: 0 10px;
}

#duration {
  height: 40px;
  width: 100px;
  color: #0062AC;
  justify-content: center;
}
