$gold: white;
$coral: white;
$darkBlue: #1A6FA8;

#page {
  $opacity: 90%;
  margin-top: 200px;
  align-items: bottom;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 1s;
}

#phrase_box {
  display: flex;
  flex-flow: column;
  height: 200px;
  overflow: hidden;
  width: 350px;
  background-color: white;
  border-radius: 10px;
  z-index: 100000;
  opacity: 0.95;
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 20px;
}

#phrases {
  animation: slide-phrases-upward 20s;
}

@keyframes slide-phrases-upward {
  @for $i from 0 through 20 {
    #{$i * 5%} {
      transform: translateY($i * -50px);
    }
  }
}

@for $i from 0 through 20 {
  #loadingCheckCircleSVG-#{$i} {
    animation: fill-to-white 5000ms;
    animation-delay: ($i - 1.5) * 1s;
    fill: white;
    opacity: 0;
  }
}

@keyframes fill-to-white {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@for $i from 0 through 20 {
  #loadingCheckSVG-#{$i} {
    animation: fill-to-blue 5000ms;
    animation-delay: ($i - 1.5) * 1s;
  }
}

@keyframes fill-to-blue {
  0% {
    fill: $darkBlue;
  }

  10% {
    fill: $darkBlue;
  }

  100% {
    fill: $darkBlue;
  }
}
