.form-container {
  padding: 20px;
}

.alert-illustration {
  width: 100%;
}

.alert-image-container {
  padding: 0 20px 0 0;
  margin-bottom: 10px;
}

.alert-description {
  margin-bottom: 10px;
}

.create-alert-button {
  border-radius: 5px;
  background-color: #0062AC;
  color: white;
  padding: 6px 12px;

}

.create-button {
  border-radius: 5px;
  background-color: #0062AC;
  color: white;
  padding: 6px 12px;

}

.cancel-alert-button {
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.4);
  background-color: white;
  padding: 6px 12px;

  &:hover {
    background-color: rgba(0,0,0,0.1);
  }
}

.swal-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 22px;
}

.swal-text {
  padding: 20px;
  text-align: center;
  font-size: 20px;
}
